<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LogInFilter</filter-name>
        <filter-class>LogInFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogInFilter</filter-name>
        <servlet-name>WelcomeServlet</servlet-name>
    </filter-mapping>
    
    <filter>
        <filter-name>SecondFilter</filter-name>
        <filter-class>SecondFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecondFilter</filter-name>
        <servlet-name>WelcomeServlet</servlet-name>
    </filter-mapping>
    
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>
</web-app>
